@mixin transitionAll() {
  transition: all 0.3s ease-out;
}
.myreal-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: var(--color-main);
}
.sidebar {
  flex: 1 0 280px;
  padding: 0.75rem;
  background-color: var(--color-main);
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  width: 280px;
  @include transitionAll();
  &.is-collapsed {
    transform: translateX(-100%);
  }
}
.main-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--color-main);
  @include transitionAll();
  margin-left: 280px;
  &.is-full-width {
    margin-left: 280px;
  }
}
@include media-breakpoint-down(lg) {
  .main-content {
    margin-left: 0;
    &.is-full-width {
      margin-left: 0;
    }
  }
}
.myreal-container-close {
  display: flex;
  width: 100%;
  height: 100%;
  .sidebar {
    transform: translateX(-100%);
  }
  .main-content {
    margin-left: 0;
  }
}

.siedebar {
  background-color: var(--color-main);
  width: 100%;
  .nav-link {
    color: var(--color-tundora);
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 10px 20px 10px 15px;
    line-height: 12px;
    text-transform: capitalize;
    border-radius: 0.4rem;
    position: relative;
    &:active,
    &:focus,
    &:hover,
    &.active {
      font-weight: 700;
      color: var(--color-black);
      background-color: var(--color-white);
    }
  }
}

//
.cirprogress {
  .multigraph {
    width: 100%;
    height: 15vh;
    position: relative;
    // margin: -100px;

    &:before {
      content: "";
      width: 200px;
      height: 100px;
      position: absolute;
      border: 12px solid rgba(0, 0, 0, 0.1);
      border-radius: 200px 200px 0 0;
      border-bottom: none;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    .tooltip {
      text-align: center;
      font-size: 30px;
      line-height: 12px;
      font-weight: 800;
      color: #000;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -40px;
      margin: -40px;
      transition: all 300ms ease-in-out;
      opacity: 0;
      transform: scale(0.1);
    }

    .tooltip {
      bottom: 75%;
      opacity: 1;
      transform: scale(1);
    }
    .graph {
      width: 200px;
      height: 100px;
      position: absolute;
      overflow: hidden;
      left: 0;
      right: 0;
      margin: 0 auto;
      &:before,
      &:after {
        width: 200px;
        height: 100px;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border: 12px solid rgb(65, 94, 223);
        content: "";
        border-radius: 0 0 200px 200px;
        border-top: none;
        animation: demo 3s;
        transform-origin: center top;
        margin: 0 auto;
      }
      &:after {
        transform: rotate(150deg);
      }
    }

    @keyframes demo {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(180deg);
      }
    }
  }
}

.loginpage {
  height: 100vh;
  width: 100vw;
}
